// Home page styles.

// Imports.
@import "../mixins";

// Home page container.
.theme-container.page-home {
    .features {
        .feature {
            img {
                @include material_shadow_lg;
            }
        }
    }

    .main-text {
        margin-top: 2.5rem;
        border-top: 1px solid var(--c-border);
        transition: border-color var(--t-color);
        padding-top: 1.5rem;

        .repo-badges {
            text-align: center;

            img {
                margin-right: 0.5rem;
                border-radius: 0rem;
                margin-top: 0.3rem;
            }
        }

        .main-text-content {
            margin-left: 2.5rem;
            margin-right: 2.5rem;
            text-align: center;
        }
    }

    .license {
        margin-top: 0.5rem;
    }

    .heart {
        display: inline-block;
        position: relative;
        color: rgb(196, 27, 27);
        font-size: 1.3rem;
        cursor: default;
        transition: all .5s;

        &:before {
            font-family: var(--font-family);
            font-size: 0.4rem;
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 32%;
            text-align: center;
            transition: all .5s;
        }

        &:hover {
            filter: grayscale(0%);
            transform: rotate(360deg);

            &:before {
                color: rgb(220, 186, 186);
            }
        }
    }

    // Adjustments for screens up to 719px.
    @media only screen and (max-width: 719px) {
        // For the home page.
        .main-text .main-text-content {
            margin-left: 0rem;
            margin-right: 0rem;
        }

        .features .feature {
            padding: 0 0rem;
        }
    }
}
