// Tutorial page styles.

// Imports.
@import "../mixins";

// Tutorial page container.
.theme-container.page-tutorial {
    @include table_sm;

    ol {
        li {
            margin-left: 1rem;
            padding-left: 0.5rem;
        }
    }

    .step-3-intersection {
        img {
            width: 60%;
            border: 0.5px solid #373737;
        }

        // Adjustments for screens smaller than 419px.
        // Additional break points are used based on the content.
        @media only screen and (max-width: 419px), (max-width: 428px) {
            img {
                width: 80%;
            }
        }
    }

    .table-arguments {
        table {
            // Adjustments for screens smaller than 419px.
            // Additional break points are used based on the content.
            @media only screen and (max-width: 419px), (max-width: 428px), (max-width: 517px) {
                font-size: 0.8rem;

                td, th {
                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
    }

    // KaTeX adjustments.
    p > .katex-display {
        overflow-x: hidden;
    }
}
